<!DOCTYPE html>
<html>
<head>
    <title>Decide</title>
</head>
<body>
    <h1>Welcome to Decide</h1>
    <p>This is the index page.</p>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        <a href="/auth/logout">logout</a>
    {% else %}
    <p>Welcome, new user</p>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Create account</a>
    {% endif %}

    <hr>
    <a href="/ideas">ideas</a>
    <br>
    <a href="/workspaces/">workspaces</a>

</body>
</html>