{% extends "base.html" %}
{% block content%}
    <h1 class="text-xl font-medium">Welcome to your Decide workspace named {{ user.workspace.name }}</h1>
    <p>This is the index page.</p>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    <a href="/auth/logout">logout</a>
    {% else %}
    <p>Welcome, new user</p>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Create account</a>
    {% endif %}
    
    <hr>
    <a href="/ideas">ideas</a>
    <a href="{% url 'ideas:create' %}"> Create idea </a><a href="{% url 'ideas:list' %}"> List idea </a>
    <br>
    <a href="/workspaces/">workspaces</a>
{% endblock %}
